﻿@model TestTecnico.Models.ToDo

<hr />
<div class="modal fade" id="edit-Modal" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editContactLabel">Modificar Tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form asp-controller="ToDo" asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" rows="10" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                        </label>
                    </div>
                    @if (Model.UrlAdjunto != null)
                    {
                        if (Model.TipoAdjunto.Contains("jpg"))
                        {
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="image" asp-for="UrlAdjunto" src="@Model.UrlAdjunto" name="files" height="200" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="file" asp-for="UrlAdjunto" src="@Model.UrlAdjunto" name="files" height="200" />
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="form-group">
                            <div class="col-md-10">
                                <p>Cargar Archivo</p>
                                <input type="file" name="files" asp-for="UrlAdjunto" onchange="ShowPreview(this)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="image" name="files" id="impPrev" height="200" style="display:none" asp-for="UrlAdjunto" />
                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-primary" id="submit" value="Actualizar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
