﻿@model IEnumerable<TestTecnico.Models.ToDo>

@{
    ViewData["Title"] = "Tareas";
}
@{
    Layout = null;
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/js/index.js"></script>
<link href="~/css/index.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

<div id="modal-placeholder"></div>
<div id="editModal"></div>


<p>
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Create")">
        Agregar Tareas
    </button>
</p>
<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body>
    <div class="container-fluid">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Filtrar Por Id: <input type="text" name="filtroId" id="numeric" value="@ViewData["filtroId"]" />

                    Filtrar Por Descripción: <input type="text" name="filtroDescripcion" value="@ViewData["currentFilter"]" />

                    Filtrar Por Estado:
                    @Html.DropDownList("listaEstados")
                    <input type="submit" value="Buscar" class="btn btn-default" />

                </p>
                
            </div>
            <div class="form-actions no-color">
                
            </div>
            <div class="form-actions no-color">
                
            </div>
        </form>
        <div id="sortableKanbanBoards" class="row">
            <div class="panel panel-primary kanban-col" style="float: none; margin: 0 auto;">
                <div class="panel-heading">
                    <div class="alert alert-danger">TODO</div>
                    
                    <i class="fa fa-2x fa-plus-circle pull-right"></i>
                </div>
                <div class="panel-body">
                    <div id="TODO" class="kanban-centered">
                        @foreach (var item in Model)
                        {
                            @if (!item.Estado)
                            {

                                <article class="kanban-entry" id="item+@item.Id">
                                    <div class="kanban-entry-inner">
                                        <div class="kanban-label">
                                            <h2>
                                                <button id="editToDo" data-toggle="ajax-modal" data-target="#edit-Modal" class="btn btn-primary" data-id="@item.Id" data-url="@Url.Action("Edit", new { id = item.Id})">@item.Nombre</button>
                                                  Id : @item.Id
                                            </h2>
                                            <p>@item.Descripcion</p>
                                            <div>
                                                <form asp-action="Delete" asp-route-id="@item.Id" data-ajax="true" onclick="return confirm('Seguro deseas borrar la tarea?')">
                                                    <button type="submit" class="btn btn-sm btn-danger d-md-inline-block">
                                                        Borrar
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }

                        }
                    </div>
                </div>

            </div>
            <div class="panel panel-primary kanban-col" style="float: none; margin: 0 auto;">
                <div class="panel-heading">
                    <div class="alert alert-success">DONE</div>                    
                    <i class="fa fa-2x fa-plus-circle pull-right"></i>
                </div>
                <div class="panel-body">
                    <div id="DONE" class="kanban-centered">
                        @foreach (var item in Model)
                        {
                            @if (item.Estado)
                            {
                                <article class="kanban-entry" id="item+@item.Id">
                                    <div class="kanban-entry-inner">
                                        <div class="kanban-label">
                                            <h2>
                                                <button id="editToDo" data-toggle="ajax-modal" data-target="#edit-Modal" class="btn btn-primary" data-id="@item.Id" data-url="@Url.Action("Edit", new { id = item.Id})">@item.Nombre</button>
                                                Id : @item.Id
                                            </h2>
                                            <p>@item.Descripcion</p>
                                            <div>
                                                <form asp-action="Delete" asp-route-id="@item.Id" data-ajax="true" onclick="return confirm('Seguro deseas borrar la tarea?')">
                                                    <button type="submit" class="btn btn-sm btn-danger d-md-inline-block">
                                                        Borrar
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }

                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}